@use "../custom" as *;
@use "../base/mixin" as *;
.about {
  &-content {
    img {
      display: block;
      width: 300px;
      height: auto;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
      border-radius: 50%;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    span {
      margin-top: 0.5rem;
      font-weight: 300;
    }
  }
}
