@use "../custom" as *;
@use "../base/mixin" as *;
// Contact form
.contact {
  background: transparent;
  color: $secondary;
  height: 100%;
  width: 100%;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;

    &-icons {
      text-align: center;
      i {
        margin: 1rem;
        color: $primary;
      }

      @include tablet-down {
        margin-top: 4rem;
      }
    }

    &-info {
      ul {
        li {
          background: none;
          a {
            &:hover {
              color: $primary;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
